name: Android CI

on:
  push:
    branches:
      - main
      - develop
      - release
  pull_request:
    branches:
      - main
      - develop
      - release

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Access kakao key
      env:
        KAKAO_KEY_MANIFEST: ${{ secrets.KAKAO_KEY_MANIFEST }}
      run: echo $KAKAO_KEY_MANIFEST > ./local.properties

    - name: Access kakao native key
      env:
        KAKAO_NATIVE_KEY: ${{ secrets.KAKAO_NATIVE_KEY }}
      run: echo $KAKAO_NATIVE_KEY > ./local.properties
    
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
